@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
	<div class="container-fluid footer">
			<div class="container">
				<div class="row section text-center">
				   © Copyright 2022 | TakeInfo
    			</div>
			</div>
		</div>